.navbar--dropdown.is--active .navbar--dropdown-activestate {
  opacity: 1;
}

.navbar--dropdown.is--active .navbar--dropdown-activestate {
  opacity: 1;
}

.navbar--dropdown.is--active .navbar--dropdown-content {
  height: 1;
}
