@media (min-width: 998px) {
  .navbar--dropdown-content {
    height: 0;
    overflow: hidden; /* To hide content when height is 0 */
  }

  .navbar--dropdown-content a {
    opacity: 0.5;
    /* Any transition if you want it smooth without GSAP, but GSAP will handle it anyway */
  }

  .menu--dropdown-content-bg {
    display: none;
    overflow: hidden;
  }

  .div-block-2 {
    height: 0;
    overflow: hidden; /* Again, to hide content when height is 0 */
  }

  .navbar--dropdown-activestate {
    opacity: 0;
  }
}

.shape {
  opacity: 0;
}

.shape--line-1,
.shape--line-2,
.application--shape-gradient {
  opacity: 0;
}

.animation .shape.is--1,
.animation .shape.is--2,
.animation .shape.is--3,
.animation .shape.is--4,
.animation .shape.is--5,
.animation .shape--line-1,
.animation .shape--line-2,
.animation .application--shape-gradient {
  opacity: 1;
}

.w-editor-edit-fade-in .main-wrapper {
  opacity: 1;
}

.weglot-container {
  display: none;
}
